<h1 class="page-header">Clean Up Links On The Topics List</h1>
<div class="doc">
  <div class="goals">
    <h2>Goals</h2>
    <div class="message">
      <p>Our app is nearly done! The main topics listing page is pretty busy. There are a lot of links that aren't necessary.</p>
    </div>
    <div class="message">
      <p>Let's clean up the topics list page by doing the following:</p>
    </div>
    <ul>
      <li><div class="message">
        <p>Remove the 'show' link</p>
      </div></li>
      <li><div class="message">
        <p>Remove the 'edit' link</p>
      </div></li>
      <li><div class="message">
        <p>Change 'destroy' to 'delete'</p>
      </div></li>
    </ul>
  </div>
  <div class="steps">
    <div class="step" title="Remove the 'show' and 'edit' links">
      <h2>Step 1: Remove the 'show' and 'edit' links</h2>
      <blockquote>
        <div class="message">
          <p>Open <code>app/views/topics/index.html.erb</code> and remove these two lines:</p>
        </div>
        <pre class="CodeRay">
<span class="tag">&lt;td&gt;</span><span class="inline"><span class="inline-delimiter">&lt;%=</span> link_to <span class="string"><span class="delimiter">'</span><span class="content">Show</span><span class="delimiter">'</span></span>, topic <span class="inline-delimiter">%&gt;</span></span><span class="tag">&lt;/td&gt;</span>
<span class="tag">&lt;td&gt;</span><span class="inline"><span class="inline-delimiter">&lt;%=</span> link_to <span class="string"><span class="delimiter">'</span><span class="content">Edit</span><span class="delimiter">'</span></span>, edit_topic_path(topic) <span class="inline-delimiter">%&gt;</span></span><span class="tag">&lt;/td&gt;</span></pre>
      </blockquote>
    </div>
    <div class="step" title="Change 'destroy' to 'delete'">
      <h2>Step 2: Change 'destroy' to 'delete'</h2>
      <blockquote>
        <div class="message">
          <p>Change the line with the word 'Destroy' to this:</p>
        </div>
        <pre class="CodeRay"><span class="tag">&lt;td&gt;</span><span class="inline"><span class="inline-delimiter">&lt;%=</span> link_to <span class="string"><span class="delimiter">'</span><span class="content">Delete</span><span class="delimiter">'</span></span>, topic, <span class="key">method</span>: <span class="symbol">:delete</span>, <span class="key">data</span>: { <span class="key">confirm</span>: <span class="string"><span class="delimiter">'</span><span class="content">Are you sure?</span><span class="delimiter">'</span></span> } <span class="inline-delimiter">%&gt;</span></span><span class="tag">&lt;/td&gt;</span></pre>
      </blockquote>
    </div>
    <div class="step" title="Confirm your changes">
      <h2>Step 3: Confirm your changes</h2>
      <blockquote>
        <div class="message">
          <p>Now save your file and try reloading in your browser to see the changes.</p>
        </div>
      </blockquote>
    </div>
  </div>
  <div class="explanation">
    <h2>Explanation</h2>
    <blockquote><div class="message"><ul>
      <li><p>The two links we removed were show and edit.  We did this because the title now links to the show page and from the show page you can reach the edit page.</p></li>
      <li><p>The second change we made was to make the link text 'Delete' instead of destroy.</p></li>
    </ul></div></blockquote>
  </div>
  <div class="deploying">
    <h2>Deploying</h2>
    <blockquote>
      <div class="message">
        <p>Before the next step, you could try deploying your app to Heroku!</p>
      </div>
      <p class="link">Go on to <a class="link" href="deploying_to_heroku?back=clean_up_links_on_the_topics_list%23step3">Deploying To Heroku</a></p>
    </blockquote>
  </div>
</div>